@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background: #262626;
}

.container{
    background: #2A9D8F;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}